/* Reset  */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 
}
/* Debug  */
.debug {
  border: 1px dashed black;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
/* Header */
.row {
    display: flex;   
}
.row1 > * {
    background-color: #DAA520;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px; 
}
header {
    background-color: #ADD8E6;
}
.row1 > .col-small {
    width: 20%;
}
.row1 > .col-big {
    width: 80%;
    text-align: center;
}
.right {
    text-align: right;
}
.header2 {
    background-color: #00008B;
    padding: 30px;
    padding-left: 400px;
}
.container-pink{
    background-color: #EE82EE;
    width: 70%;
    height: 400px;
}
/* Fine Header */